{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
    .heading{
        font-weight: bolder;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
</style>
<div class="container">
<h1 class="text-center heading">Fuel your ambition with our diverse range of sports gear <br> where performance meets style for every athlete</h1>
</div>
<div class="container mt-5 mb-3">
    <img src="{% static "/images/lady.jpg" %}" alt="" height="550" width="100%">
</div>
<div class="container">
    <p>If you're searching for 'soccer stores near me' to cater to your passion for the beautiful game, then Playmaker is the perfect destination for you. With a comprehensive selection of soccer cleats, apparel, and accessories,playmaker has everything you need to elevate your game, whether you're a seasoned pro or just starting out. 

    </p>
    <h4 class="mt-5 mb-4 text-center">Why Choose PLAYMAKER?</h4>
      <h5 class="mb-2">Impressive Product Selection</h5>
    <p class="mb-5 ">Playmaker offers an unparalleled variety of soccer products, ranging from footwear and clothing, equipment and accessories. The retail and online store stock items from industry-leading brands like adidas, Nike, and Puma, ensuring you have access to newest soccer products. Additionally, you can find  popular soccer clubs and national teams jerseys, allowing you to represent your favorites with pride and authenticity.</p>

    <h5 class="mb-2">Exceptional Customer Service</h5>
    <p class="mb-5 ">The experienced team at Playmaker shares your enthusiasm for soccer and is ready to provide expert guidance on selecting the right item for your needs. They understand the significance of choosing suitable footwear, apparel, and equipment to improve your performance and enjoyment of the sport. With the knowledge staff help, you can rest assured that you're making informed choices for your soccer pursuit.</p>
      
    <img src="{% static "/images/joy.jpg" %}" alt="" height="450" width="100%" class="mb-5">

    <h5 class="mb-2">Competitive Prices and Great Deals</h5>
    <p class="mb-5 ">
       Playmaker offers attractive pricing, ensuring that you get outstanding value for your money. Sales and promotions are run frequently, allowing you to save even more on your soccer essentials. Stay refreshed on the latest gear for soccer by visiting the online store or stop by in-store
    </p>
    <h5 class="mb-2">Dedication to Local Soccer Communities</h5>
    <p class="mb-5 ">Playmaker goes beyond being a soccer store; committed to promoting the growth and development of soccer within local communities. By collaborating with local school programs, clubs and youth soccer leagues, Azteca Soccer plays a vital role in supporting the sport at a grassroots level.</p>

    <div id="gmap" class="contact-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d42651.386847435766!2d76.04500109883149!3d11.061055771038689!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba64a9be29b058f%3A0x23e371e0d4c30d8e!2sMalappuram%2C%20Kerala!5e0!3m2!1sen!2sin!4v1700210553843!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <p class="mt-5 m-5">
        When you're on the hunt for 'soccer stores near me,' make PlayMaker your most trusted option. With a wide range of soccer products, expert guidance, attractive pricing, and a dedication to the soccer community, PlayMaker is the ideal place to find everything you require for your soccer voyage. Go to the soccer website or visit one of the retail locations below today to experience the PlayMaker difference for yourself.
    </p>

</div>
{% endblock  %}