<style>
    /* styles.css */
    
    /* Style for the form container */
    .form-container {
        margin-top: 20px;
    }
    
    /* Style for form labels */
    .form-label {
        font-weight: bold;
    }
    
    /* Style for form fields */
    .form-field {
        margin-bottom: 15px;
        margin-right: 10px;
    }
    
    /* Style for error messages */
    .error-message {
        color: red;
    }
    
    /* Style for the submit button */
    .submit-button {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
    }
    .form-field input {
        width: 100%; /* You can adjust the width as needed */
    }
    </style>
    {% extends "base.html" %}
    
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
    
            </div>
            <div class="col-md-6 form-container">
                <h2 class="text-center mb-3 pt-4">New Password</h2>
                {% if validlink %}
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-field">
                            <label class="form-label">{{ field.label_tag }}</label>
                            <p>{{ field }}</p>
                            <p class="error-message">{{ field.errors }}</p>
                        </div>
                    {% endfor %}
                    
                    <button type="submit" class="submit-button mt-3">save</button>
                    
                </form>
                <p style="color:red;">Invaid Token</P>
                <p>
                    <a href={% url "password_reset" %}>Request a new password reset token</a>
                </p>
                {% endif %}   
            </div>
                
                
                
                
                
            </div>
        </div>
    </div>
    {% endblock  %}